<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <link rel="manifest" href="manifest.json" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/template/favicon.svg">
    <link href="assets/css/style.css?version=4.1" rel="stylesheet">
    <title>My Jobs List - Job Portal HTML Template </title>
  </head>
  <body>
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="text-center"><img src="assets/imgs/template/loading.gif" alt="akkashnews"></div>
        </div>
      </div>
    </div>
    <header class="header sticky-bar"> 
      <div class="container">
        <div class="main-header">
          <div class="header-left">
            <div class="header-logo"><a class="d-flex" href="index.html"><img alt="akkashnews" src="assets/imgs/page/dashboard/logo.svg"></a></div><span class="btn btn-grey-small ml-10">Admin area</span>
          </div>
          <div class="header-search"> 
            <div class="box-search"> 
              <form action="">
                <input class="form-control input-search" type="text" name="keyword" placeholder="Search">
              </form>
            </div>
          </div>
          <div class="header-menu d-none d-md-block">
            <ul> 
              <li>        <a href="http://wp.alithemes.com/html/akkashnews/demos/index.html">Home </a></li>
              <li> <a href="http://wp.alithemes.com/html/akkashnews/demos/page-about.html">About us </a></li>
              <li> <a href="http://wp.alithemes.com/html/akkashnews/demos/page-contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="header-right">
            <div class="block-signin"><a class="btn btn-default icon-edit hover-up" href="post-job.html">Post Job</a>
              <div class="dropdown d-inline-block"><a class="btn btn-notify" id="dropdownNotify" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownNotify">
                  <li><a class="dropdown-item active" href="#">10 notifications</a></li>
                  <li><a class="dropdown-item" href="#">12 messages</a></li>
                  <li><a class="dropdown-item" href="#">20 replies</a></li>
                </ul>
              </div>
              <div class="member-login"><img alt="" src="assets/imgs/page/dashboard/profile.png">
                <div class="info-member"> <strong class="color-brand-1">Steven Jobs</strong>
                  <div class="dropdown"><a class="font-xs color-text-paragraph-2 icon-down" id="dropdownProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">Super Admin</a>
                    <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownProfile">
                      <li><a class="dropdown-item" href="profile.html">Profiles</a></li>
                      <li><a class="dropdown-item" href="my-resume.html">CV Manager</a></li>
                      <li><a class="dropdown-item" href="login.html">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
          <div class="perfect-scroll">
            <div class="mobile-search mobile-header-border mb-30">
              <form action="#">
                <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
              </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
              <!-- mobile menu start-->
              <nav>
                <ul class="main-menu">
                  <li> <a class="dashboard2" href="index.html"><img src="assets/imgs/page/dashboard/dashboard.svg" alt="akkashnews"><span class="name">Dashboard</span></a>
                  </li>
                  <li> <a class="dashboard2" href="candidates.html"><img src="assets/imgs/page/dashboard/candidates.svg" alt="akkashnews"><span class="name">Candidates</span></a>
                  </li>
                  <li> <a class="dashboard2" href="recruiters.html"><img src="assets/imgs/page/dashboard/recruiters.svg" alt="akkashnews"><span class="name">Recruiters</span></a>
                  </li>
                  <li> <a class="dashboard2" href="my-job-grid.html"><img src="assets/imgs/page/dashboard/jobs.svg" alt="akkashnews"><span class="name">My Jobs</span></a>
                  </li>
                  <li> <a class="dashboard2 active" href="my-tasks-list.html"><img src="assets/imgs/page/dashboard/tasks.svg" alt="akkashnews"><span class="name">Tasks List</span></a>
                  </li>
                  <li> <a class="dashboard2" href="profile.html"><img src="assets/imgs/page/dashboard/profiles.svg" alt="akkashnews"><span class="name">My Profiles</span></a>
                  </li>
                  <li> <a class="dashboard2" href="my-resume.html"><img src="assets/imgs/page/dashboard/cv-manage.svg" alt="akkashnews"><span class="name">CV Manage</span></a>
                  </li>
                  <li> <a class="dashboard2" href="settings.html"><img src="assets/imgs/page/dashboard/settings.svg" alt="akkashnews"><span class="name">Setting</span></a>
                  </li>
                  <li> <a class="dashboard2" href="authentication.html"><img src="assets/imgs/page/dashboard/authentication.svg" alt="akkashnews"><span class="name">Authentication</span></a>
                  </li>
                  <li> <a class="dashboard2" href="login.html"><img src="assets/imgs/page/dashboard/logout.svg" alt="akkashnews"><span class="name">Logout</span></a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="mobile-account">
              <h6 class="mb-10">Your Account</h6>
              <ul class="mobile-menu font-heading">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Work Preferences</a></li>
                <li><a href="#">Account Settings</a></li>
                <li><a href="#">Go Pro</a></li>
                <li><a href="page-signin.html">Sign Out</a></li>
              </ul>
              <div class="mb-15 mt-15"> <a class="btn btn-default icon-edit hover-up" href="post-job.html">Post Job</a></div>
            </div>
            <div class="site-copyright">Copyright 2022 &copy; akkashnews. <br>Designed by AliThemes.</div>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
      <div class="nav"><a class="btn btn-expanded"></a>
        <nav class="nav-main-menu">
          <ul class="main-menu">
            <li> <a class="dashboard2" href="index.html"><img src="assets/imgs/page/dashboard/dashboard.svg" alt="akkashnews"><span class="name">Dashboard</span></a>
            </li>
            <li> <a class="dashboard2" href="candidates.html"><img src="assets/imgs/page/dashboard/candidates.svg" alt="akkashnews"><span class="name">Candidates</span></a>
            </li>
            <li> <a class="dashboard2" href="recruiters.html"><img src="assets/imgs/page/dashboard/recruiters.svg" alt="akkashnews"><span class="name">Recruiters</span></a>
            </li>
            <li> <a class="dashboard2" href="my-job-grid.html"><img src="assets/imgs/page/dashboard/jobs.svg" alt="akkashnews"><span class="name">My Jobs</span></a>
            </li>
            <li> <a class="dashboard2 active" href="my-tasks-list.html"><img src="assets/imgs/page/dashboard/tasks.svg" alt="akkashnews"><span class="name">Tasks List</span></a>
            </li>
            <li> <a class="dashboard2" href="profile.html"><img src="assets/imgs/page/dashboard/profiles.svg" alt="akkashnews"><span class="name">My Profiles</span></a>
            </li>
            <li> <a class="dashboard2" href="my-resume.html"><img src="assets/imgs/page/dashboard/cv-manage.svg" alt="akkashnews"><span class="name">CV Manage</span></a>
            </li>
            <li> <a class="dashboard2" href="settings.html"><img src="assets/imgs/page/dashboard/settings.svg" alt="akkashnews"><span class="name">Setting</span></a>
            </li>
            <li> <a class="dashboard2" href="authentication.html"><img src="assets/imgs/page/dashboard/authentication.svg" alt="akkashnews"><span class="name">Authentication</span></a>
            </li>
            <li> <a class="dashboard2" href="login.html"><img src="assets/imgs/page/dashboard/logout.svg" alt="akkashnews"><span class="name">Logout</span></a>
            </li>
          </ul>
        </nav>
        <div class="border-bottom mb-20 mt-20"></div>
        <div class="box-profile-completed text-center mb-30">
          <div id="circle-staticstic-demo"></div>
          <h6 class="mb-10">Profile Completed</h6>
          <p class="font-xs color-text-mutted">Please add detailed information to your profile. This will help you develop your career more quickly.</p>
        </div>
        <div class="sidebar-border-bg mt-50"><span class="text-grey">WE ARE</span><span class="text-hiring">HIRING</span>
          <p class="font-xxs color-text-paragraph mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto</p>
          <div class="mt-15"><a class="btn btn-paragraph-2" href="#">Know More</a></div>
        </div>
      </div>
      <div class="box-content">
        <div class="box-heading">
          <div class="box-title"> 
            <h3 class="mb-35">My Tasks</h3>
          </div>
          <div class="box-breadcrumb"> 
            <div class="breadcrumbs">
              <ul> 
                <li> <a class="icon-home" href="index.html">Admin</a></li>
                <li><span>My Jobs</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row"> 
          <div class="col-lg-12"> 
            <div class="section-box">
              <div class="container"> 
                <div class="panel-white mb-30">
                  <div class="box-padding">
                    <div class="row display-list">
                      <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img1.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>1 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag high">High</a><a class="btn btn-tag planing">Planing</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>80</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img2.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>3 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag mid">Medium</a><a class="btn btn-tag in-progress">In Progress</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>68</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">   
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img3.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>4 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag low">Low</a><a class="btn btn-tag in-progress">In Progress</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>20</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">   
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img4.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>5 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img5.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>8 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img5.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>12 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img1.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>14 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img2.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>23 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">   
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img3.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>25 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">   
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img4.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>26 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img5.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>30 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img5.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>32 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">   
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img3.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>34 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">   
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img4.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>36 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img5.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>3 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-4 col-md-6">   
                        <div class="card-style-2 hover-up">
                          <div class="card-head">
                            <div class="card-image"> <img src="assets/imgs/page/dashboard/img4.png" alt="akkashnews"></div>
                            <div class="card-title"> 
                              <h6>Senior Full Stack Engineer, Creator Success</h6><span class="text-muted">Start:  </span><span>36 days ago</span>
                            </div>
                          </div>
                          <div class="mr-15"> <a class="btn btn-tag complete">Completed</a>
                          </div>
                          <div class="card-progress"><span>Complete:  </span><strong>100</strong><span class="hour"> %</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="paginations">
                      <ul class="pager">
                        <li><a class="pager-prev" href="#"></a></li>
                        <li><a class="pager-number" href="#">1</a></li>
                        <li><a class="pager-number" href="#">2</a></li>
                        <li><a class="pager-number" href="#">3</a></li>
                        <li><a class="pager-number" href="#">4</a></li>
                        <li><a class="pager-number" href="#">5</a></li>
                        <li><a class="pager-number active" href="#">6</a></li>
                        <li><a class="pager-number" href="#">7</a></li>
                        <li><a class="pager-next" href="#"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10"> 
          <div class="section-box">
            <div class="container"> 
              <div class="panel-white pt-30 pb-30 pl-15 pr-15">
                <div class="box-swiper">
                  <div class="swiper-container swiper-group-10">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/microsoft.svg" alt="akkashnews"></div>
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/sony.svg" alt="akkashnews"></div>
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/acer.svg" alt="akkashnews"></div>
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/nokia.svg" alt="akkashnews"></div>
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/asus.svg" alt="akkashnews"></div>
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/casio.svg" alt="akkashnews"></div>
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/dell.svg" alt="akkashnews"></div>
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/panasonic.svg" alt="akkashnews"></div>
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/vaio.svg" alt="akkashnews"></div>
                      <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/sony.svg" alt="akkashnews"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer mt-20">
          <div class="container">
            <div class="box-footer">
              <div class="row">
                <div class="col-md-6 col-sm-12 mb-25 text-center text-md-start">
                  <p class="font-sm color-text-paragraph-2">© 2022 - <a class="color-brand-2" href="https://themeforest.net/item/akkashnews-job-portal-html-bootstrap-5-template/39217891" target="_blank">akkashnews </a>Dashboard <span> Made by  </span><a class="color-brand-2" href="http://alithemes.com" target="_blank"> AliThemes</a></p>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-end mb-25">
                  <ul class="menu-footer">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </main>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/jquery.circliful.js"></script>
    <script src="assets/js/main.js?v=4.1"></script>
  </body>
</html>